body {
  font-family: 'Chakra Petch', sans-serif;
  background: linear-gradient(90deg, #2e003e, #5d2a7a);
  display: flex;
  flex-direction: column;

  margin: 0 0 2em 0;
}

p {
  max-width: 600px;
  text-align: center;
  font-size: 1.2em;
  }

ul li { margin-bottom: 1em;}

.center {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  }

.white {
  color: white;
}

button {
  background-color: #00D974;
  border: 1px solid #00D974;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  transition: transform 0.1s ease-in-out;
}

button:hover {
  background-color: #00d9c0;
  transform: scale(1.05);
}

.hobbies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  gap: 2em;
  
}


h1 {
  color: #00D974;
  
}

.border {
  border: 1px solid #00D974;
  border-radius: 10px;
}

.styled-table {
  border-collapse: collapse;
  margin-top: 2em;
  min-width: 400px;
}

.styled-table caption {
  font-weight: bold;
  margin-bottom: 0.5em;
  }

.styled-table td, .styled-table th {
  padding: 1em;
  border: 1px solid #00D974;
  text-align: center;
}

.styled-table th {
  background-color: #00D974;
  color: #2e003e;
}

.link-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  gap: 1em;
}

a {
  color: #00D974;
}

a:hover {
  color: #00d9c0;
}
