body {
  font-family: 'Chakra Petch', sans-serif;
  background: linear-gradient(90deg, #2e003e, #5d2a7a);
  display: flex;
  flex-direction: column;

  margin-top: 2em;
}

.center {
  display: grid;
  justify-content: center;
}

.white {
  color: white;
}


h1 {
  color: #00D974;
  
}
